.section-row{
    height: 149px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section-services{
    width: 87%;
    height: 100%;
    border-radius: 12px;
    background-color:#FAFBFC;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service1{
    width: 211px;
    height: 77px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}