.section1{
    height: 422px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}
.section1-content{
    height: 100%;
    width: 87%;
    display: flex;
    justify-content: space-between;
}

.section1-carousel{
    width: 876px;
    height: 100%;
}

.section1-discount{
    width: 426px;
    height: 100%;
}

.carousel-item{
    height: 100%;
}
.carousel-inner{
 height: 100% !important;
}
.carousel{
 height: 100% !important;
}