.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 300px;
    text-align: center;
    width: 650px !important;
    height: 257px !important;
    background: #fff !important;
    border-radius: 12px !important;
}
.modal-content .h3{
 text-align: left;
 margin: 20px;
 font-weight: 600;
}
  
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent !important;
    font-size: 24px;
    cursor: pointer;
    font-size: 36px;
    padding: 0px 15px;
    border: 1px solid grey;
    border-radius: 50%;
    margin: 20px;
  }
  

  
  .payment-options img {
    margin: 10px;
    width: 100px;
  }
  