*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none !important;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}
header{
  width: 100%;
  height: 182px;
}

.header-top{
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ecedf0;
}
.header-top-content{
  width: 87%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
}
 .main-nav{
  width: 798px;
  height: 29px;
  /* background-color: rgb(11, 85, 85); */
}
.main-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
}
.first3-lists{
  color: #5b5f66;
  font-size: 13px;
  line-height: 2rem;
  font-family: Inter, sans-serif;
  position: relative;
  transition: .5s;

}
.first3-lists:hover{
  /* text-decoration: underline; */
  border-bottom: 1px solid black;
}
.last-lists{
  font-size: 13px;
  font-weight: 600;
  padding: .4rem 1rem;
  color: #f6861f;
  background: #fff;
  border-radius: 6px;
  border: 1px solid currentColor;
  transition: .5s;

}
.last-lists:hover{
  color: #fff;
  background-color:#f6861f ;
}
.icon-imgs:hover{
 border-bottom: 1px solid rgb(51, 47, 47);
 transition: .5s;
}
.header-top-list{
  width: 426px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top-list a {
  display: flex;
  align-items: center;
}
.header-top-list a::after{
  content: '';
  background: #e1e2e7;
  height:1.3rem;
  width: 1px;
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
}
header .l::after{
  content: '';
  background: #e1e2e7;
  height:1.3rem;
  width: 1px;
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
}
header .l{
  position: relative;
  cursor: pointer;
  
}

#change-lang:hover .russian-lang{
  display: flex;
  transition: .3s;
}
#change-lang:hover .back-lang{
  display: flex;
  align-items: center;
  opacity: 1;
  z-index: -1;
}

.russian-lang{
  display:none;
  align-items: center;
  cursor: pointer;
  transition: .3s;
  width: 94%;
  border-radius: 3px;
  position: absolute;
  bottom: -45px;
  padding: 3px 10px;
  left: -7px;
  background-color: #fff;
  z-index: 99;
  border: 1px solid #e1e2e7;
}

.header-bottom{
  height: 116px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-bottom-content{
  width: 87%;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
  /* background-color: blue; */
}
.kataloq{
    padding: 1rem 1rem !important;
    border-radius: .5rem;
    background: #40b659;
    color: #fff;
    font-size: 16px !important;
    margin-bottom: 0;
    cursor: pointer;
    width: 120px;
}

.search-inp{
  padding: 1rem 26rem 1rem 1rem;
  border:1px solid #e6e6e6;
  background-color: #f9f9f9;
  border-radius: .8rem;
  outline: none;
}

.search-icon1::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 2.4rem;
    background: #e6e6e6;
    position: absolute;
    left: 1px;
    top: 1.3rem;
}

.payment-term{
  padding: 1.2rem 1.5rem;
  color: #40b659;
  background: #fff;
  border-radius: 6px;
  border: 1px solid currentColor;
  transition: .5s;
}
.credit-card{
  color: #40b659;
  transition: .5s;
}
.payment-term:hover{
  background-color:#40b659;
  color: #fff;
  cursor: pointer;
}

.payment-term:hover .credit-card{
  color: #fff;
  cursor: pointer;
}

header .tools{
  transition: .5s;

}

header .tools:hover {
  color: orange;
  cursor: pointer;
}
.tools-icon{
  color:#232d40;
  transition: .5s;
}
header .tools:hover .tools-icon{
  color: orange;
}

.katalog-modal div::-webkit-scrollbar {
width: 8px;
}

.katalog-modal div::-webkit-scrollbar-track {
background: #f7f7f7;
}

.katalog-modal div::-webkit-scrollbar-thumb {
background-color: #963232;
border-radius: 10px;
border: 3px solid #f7f7f7;
}

.katalog-modal div::-webkit-scrollbar-thumb:hover {
background-color: #ac5151;
}

.katalog-modal div {
scrollbar-width: thin;
border-radius: 20px;
scrollbar-color: #bbbbbb #f7f7f7;
}


 