.swip{
    margin-top: 30px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    border: 1px solid #c2c5cac2;    
}

.products-swip .button-container {
    display: flex;
    position: absolute;
    right: 10px;
    top: 15px;
}

.products-swip .round-button {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.678);
    font-size: 20px;
    cursor: pointer;
    margin: 0 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.discounted-products .button-container{
    top: 85px;
}